################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/RateTables/RateTablesSample/.vs
/RateTables/RateTablesSample/obj
/RateTables/RateTablesSample/bin/Debug/net8.0
